<section id="application">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-faded">
          ARTISTS
        </h2>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="container guest-artists">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "susanna_placeholder.png",
      name: "Susanna Bolle",
      website: "https://www.nonevent.org/",
      description: "Susanna Bolle is the Director and Curator of Non-Event, a non-profit arts organization and experimental music series, which produces some of Boston's most adventurous experimental, improvised and new music concerts."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "bernd.jpg",
      name: "Bernd Bleffert",
      website: "http://www.bernd-bleffert.de/",
      description: "A sound artist; born in Altenahr/Germany in 1955; living and working in Trier; has been developing sound objects and installations as well as percussion made of stone, wood and metal and associated new playing techniques, as well as compositions and improvisation concepts since 1990; co-founder of the ensemble for experimental music Tonwerke Trier (1998); concerts as a soloist and in various ensembles; planning and realization of concerts and performances; since 2011 he has been one of the artistic directors of the Festival for Contemporary Sound Art Opening in Trier; from 2000 sound installations in natural spaces and in the context of exhibitions. In his sound art works, Bernd Bleffert deals with movement as the actual source of sound formation as well as with processes of displacement and the accidental."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "CChen.jpg",
      name: "Carolyn Chen",
      website: "https://walkingmango.wordpress.com/",
      description: "Carolyn Chen has made music for supermarket, demolition district, and the dark. Her work reconfigures the everyday to retune habits of our ears through sound, text, light, and movement. Her studies of the guqin, a Chinese zither traditionally played for private meditation in nature, have informed her thinking on listening in social spaces. Recent projects include an audio essay on a scream and commissions for Klangforum Wien and the LA Phil New Music Group. Described by The New York Times as “the evening’s most consistently alluring … a quiet but lush meditation,” her work has been presented in 25 countries and supported by the Berlin Prize, the Fulbright Program, and ASCAP’s Fred Ho Award for work that “defies boundaries and genres.” Writing and recordings are available in MusikTexte, Experimental Music Yearbook, New Centennial Review, Leonardo Music Journal, Quakebasket, and the wulf. She earned a Ph.D. in music from UC San Diego, and a M.A. in Modern Thought and Literature and B.A. in music from Stanford University. She lives in Los Angeles."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "james_creed.jpg",
      name: "James Creed",
      website: "https://jamescreedmusic.wixsite.com/website",
      description: "James is a composer and guitarist based in London, UK. His recent music works with increasingly simple materials, even simpler processes, clowning and experimental notations; these elements balance to varying degrees in any given piece, but are usually all present. More generally, his music also tends to be quiet and slow, without the need for much rehearsal or training."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "joachim.jpg",
      name: "Joachim Eckl",
      website: "http://www.heimart.at/index.php/joachim-eckl.html",
      description: "Joachim Eckl’s work is based on an extended understanding of art which is substantially inspired by Joseph Beuys’ term ‘social sculpture’."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "jennie_placeholder.png",
      name: "Jennie Gottschalk",
      website: "https://www.soundexpanse.com/",
      description: "I’m a composer living in the Boston area. I travel a lot, mostly for concerts. Meanwhile, I run a freelance text services business—some editing, some research, some digitizing, mostly transcription. It’s work that allows for all the travel, and it works out well for me. You won’t read much about my music or my business on this site, but if you’re interested, you can visit jenniegottschalk.com or email me at jennie ( at ) soundexpanse.com."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "2020/holloway.jpg",
      name: "John Holloway",
      website: "https://www.johnholloway.com.mx/",
      description: "John Holloway is a Professor at the Instituto de Ciencias Sociales y Humanidades in the Benemérita Universidad Autónoma de Puebla, Mexico, where he teaches in the graduate school of Sociology. He was previously a lecturer in Politics at the University of Edinburgh."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "2020/michael_pisaro.png",
      name: "Michael Pisaro-Liu",
      website: "https://www.michaelpisaro-liu.com/",
      description: "Michael Pisaro (born 1961 in Buffalo, New York) is a guitarist and composer and a member of the Wandelweiser collective. While, like other members of Wandelweiser, Pisaro is known for pieces of long duration with periods of silence, in the past fifteen years his work has branched out in many directions, including work with field recording, electronics, improvisation and large ensembles of very different kinds of instrumental constitution. Pisaro has a long-standing collaboration with percussionist Greg Stuart, with over thirty collaborations (pieces and recordings) to date, including their 3-disc set, Continuum Unbound from 2014 and a new piece for amplified percussion and orchestra (to be premiered by the La Jolla Symphony in February, 2020). Recordings of his work have been released by Edition Wandelweiser Records, erstwhile records, New World Records, Hubro, Potlatch, another timbre, meena/ftarri, Senufo Editions, Intonema, winds measure, HEM Berlin and on Pisaro's own imprint, Gravity Wave. Pisaro teaches composition and experimental music the California Institute of the Arts."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "2020/cherlyn.png",
      name: "Cherlyn Pisaro-Liu",
      website: "https://cherlynhsinghsinliu.com/",
      description: "Cherlyn Hsing-Hsin Liu is a Taiwanese born multidisciplinary artist. She comes from a background in literature and photography, and has developed her interests and practices in experimental arts, including 8mm/16mm/35mm film, mixed media, sound, audiovisual performance and installation. Exploring media languages and experimenting with materials and techniques, her works often are attempts to transcribe life events, self-reflection, and indexical experiences."
    } %>
    <hr class="secondary">
    <%= render partial: 'home/sections/guest_artist_description', :locals => {
      imageUrl: "2021/nina_from_facebook.jpg",
      name: "Nina Power",
      website: "https://ninapower.net/",
      description: "Nina Power is a writer and philosopher. She is the author of One-Dimensional Woman and of many articles. Her forthcoming book What Do Men Want? will be out with Penguin soon. Beyond writing and philosophy, Nina's interests include contemporary experimental music, psychoanalysis, paganism, honesty and groups."
    } %>
  </div>
</section>