<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          2023 Schedule
        </h2>
        <br>
        <p>
          everything is free and open to anyone who wants to participate / view / engage.
        </p>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'day-by-day'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: 'Repeating frame for each day',
        is_concert: false,
        description: [
          'Bernd, TonStillen',
          ' ',
          'Breakfast, ca. 9:00',
          'Lunch, ca. 13:00',
          '(Dinner prep, 18:00) / Dinner, 19:00',
          ' ',
          'Bernd, 102 moments'
        ]
      } %>
      <br>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: 'Ongoing & Indeterminate',
        is_concert: false,
        description: [
          "Joachim, journeys in stationary traffic, open participation, multiple instances",
          "Carolyn, listening activities, open participation, multiple instances",
          "John, speaking music & a world not-yet, open participation (+ one evening performance)",
          "Luka, Hunting Music, open participation workshop, one or two instances",
          "Michael: Melodic Currents (1) (for Joachim Eckl), open participation, multiple instances",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Friday, Aug 18'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: ["Arrival day, dinner ca. 19:00."]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Saturday, Aug 19'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "Open time to meet and discuss the week",
          " ",
          "Jennie: Score-making piece, open participation. Introduction of piece.",
          "John: speaking music & a world not-yet, open participation. Introduction of ideas."
        ]
      } %>
      <br>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: 'Welcome Concert, 21:00 (after dinner)',
        is_concert: false,
        description: [
          "Germaine, Marcus / Luke, aaron / Bernd, James, Joachim / …",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Sunday, Aug 20'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "James: Callander, open participation. Introduction of piece."
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Monday, Aug 21'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "Nina: Experimental Writing Workshop, open participation. Session 1.",
          "Jennie: Score-making piece, open participation. Session 2."
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Tuesday, Aug 22'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "---",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Wednesday, Aug 23'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "Nina: Experimental Writing Workshop, open participation. Session 2.",
        ]
      } %>
      <br>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: 'Middle Concert, 21:00 (after dinner)',
        is_concert: false,
        description: [
          "James, trio / Germaine / Carolyn / …",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Thursday, Aug 24'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "Jennie: Score-making piece, open participation. Session 3.",
          "John Holloway: speaking music, after dinner performance"
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Friday, Aug 25'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "Nina: Experimental Writing Workshop, open participation. Session 3.",
          "Marcus & Germaine: installation pink noise (circle III), after dinner performance."
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Saturday, Aug 26'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: 'Goodbye Concert, 21:00 (after dinner)',
        is_concert: false,
        description: [
          "James Callander / ? / ? / …"
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Sunday, Aug 27'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: ["Departure day, breakfast in the morning."]
      } %>
    </div>
  </div>
</section>
