<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          2022 Schedule
        </h2>
        <br>
        <p>
          everything is free and open to anyone who wants to participate / view / engage.
        </p>
        <p>
          please feel free to <a href="mailto:coincidence.festival@gmail.com">email us</a> if you have questions or
          would like to attend.
        </p>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Jan 2'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '8pm - 930pm',
        title1: 'Welcome Concert',
        title2: 'Marilyn Arsem, Jennie Gottschalk, Andrea Pensado, and Luke Martin & Aaron Foster Breilyn',
        is_concert: true,
        concert_link: "https://www.facebook.com/events/322926086363437",
        description: ["Washington Street Art Center (WSAC)",
                      "321 Washington Street, Somerville MA",
                      "Free or Donation",
                      " ",
                      "RSVP Required (15 people max)",
                      "Proof of Vaccination (at door)",
                      "Masks Required",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Jan 3'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '12pm - 6pm',
        title1: 'Symposium 1: We.',
        title2: 'What is a we? How do people relate to it? Other communities? What does it mean to be an individual? Identity?',
        is_concert: false,
        # concert_link: "",
        description: ["Washington Street Art Center (WSAC)"]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Jan 4'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '12pm - 6pm',
        title1: 'Symposium 2: Conviviality',
        # title2: 'Conviviality',
        is_concert: false,
        # concert_link: "",
        description: ["Email for location details"]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Jan 5'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '12pm - 6pm',
        title1: 'Symposium 3: Hope / Risk',
        # title2: 'Conviviality',
        is_concert: false,
        # concert_link: "",
        description: ["Washington Street Art Center (WSAC)"]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Jan 6'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '12pm (noon)',
        title1: 'Symposium 4: Art and Morality',
        # title2: 'Marilyn Arsem, Jennie Gottschalk, Andrea Cape, and Luke Martin & Aaron Foster Breilyn',
        is_concert: false,
        concert_link: "",
        description: [
          "Museum of Fine Arts, Boston",
          "465 Huntington Ave, Boston, MA 02115",
          "Email for meeting information"
        ]
      } %>
      <br>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '7pm - 9pm',
        title1: 'Co-Incidence Showcase',
        title2: 'Sets TBD',
        is_concert: true,
        concert_link: "https://www.facebook.com/events/301869861850555",
        description: ["Pink Noise Studios",
                      "15 Ward St., Somerville MA",
                      "Free or Donation",
                      "Thursday 1/6/22 @ 7 - 9PM",
                      " ",
                      "Proof of Vaccination (at door)",
                      "Masks Required",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Jan 7'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '2pm',
        title1: 'Symposium 5: Nature',
        is_concert: false,
        concert_link: "",
        description: [
          "Walden Pond",
          "915 Walden St, Concord, MA 01742",
          "Email for more information"
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Jan 8'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '2pm',
        title1: 'Symposium 6: Death',
        is_concert: false,
        concert_link: "",
        description: [
          "Washington Street Art Center (WSAC)"
        ]
      } %>
    <br>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '4pm',
        title1: 'Final Group Concert',
        title2: 'Sets TBD',
        is_concert: true,
        concert_link: "https://www.facebook.com/events/3169362443298011",
        description: ["Washington Street Art Center (WSAC)",
                      "321 Washington Street, Somerville MA",
                      "Free or Donation",
                      " ",
                      "RSVP Required (15 people max)",
                      "Proof of Vaccination (at door)",
                      "Masks Required",
        ]
      } %>
    </div>
    <hr>
  </div>
</section>
