<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">
          2023 Schedule
        </h2>
        <br>
        <p>
          ten days with various activities, all free and open to anyone who wants to participate / view.
        </p>
        <p>
          the following brings together various ‘impulse-projects’ already in-progress individually by people in the
          group, in preparation for us all being together at heim.art®️-Station.
        </p>
        <p>
          how we organize time when together is open, as is participation in the various activities.
          our proposal below is simply a first step. and our hope is to, together, remain open to the possibility of
          something happening/developing that is entirely unexpected.
        </p>
        <p>
          in general, the communal meals will serve as anchor points for the group–
          breakfast and lunch are, for the most part, flexible / at one’s discretion.
          dinner is planned and at the same time each night.
        </p>
        <p>
          the time between meals is open: morning, afternoon, evening.
        </p>
        <p>
          three ‘concerts’, while scheduled, are flexible, open to more people playing/participating, and intended as
          casual opportunities to share work with one another.
        </p>
        <p>
          note: cooking/eating is ‘family style’ in the outdoor kitchen. jennie will generally lead us with meals, cooking, and cleaning-up. as with all the pieces, any and all should feel welcome to join, help, and/or propose their own meals they would like to cook.
        </p>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'day-by-day'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: 'Repeating frame for each day',
        is_concert: false,
        description: [
          "Bernd, 'TonStillen', 09:00",
          ' ',
          'Breakfast, ca. 09:00',
          'Lunch, ca. 13:00',
          '(Dinner prep, 18:00) / Dinner, 19:00',
          ' ',
          "Bernd, '102 moments', 17:30"
        ]
      } %>
      <br>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: 'Ongoing & Indeterminate',
        is_concert: false,
        description: [
          "Joachim, journeys in stationary traffic, open participation, multiple instances",
          "Carolyn, listening activities, open participation, multiple instances",
          "John, speaking music & a world not-yet, open participation (+ one evening performance)",
          "Luka, Hunting Music, open participation workshop, one or two instances",
          "Michael, Melodic Currents (1) (for Joachim Eckl), open participation, multiple instances",
          "Anna, The wind of the breathing body"
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Friday, Aug 18'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: ["Arrival day, dinner ca. 19:00."]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Saturday, Aug 19'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "10:00h : Open time to meet and discuss the week",
          "14:00h : Jennie, Score-making piece, open participation. Introduction of piece.",
          "20:30h : Germaine, Marcus || Bernd, James, Joachim || Luke, aaron"
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Sunday, Aug 20'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "10:00h : James: 'Callander', open participation. Introduction of piece.",
          "20:30h : Martin & Germaine, 'The Voice in the closet'",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Monday, Aug 21'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "10:30h : Nina, Experimental Writing Workshop, open participation. Session 1.",
          "14:00h : Jennie, Score-making piece, open participation. Session 2.",
          "20:30h : Abby, 'Dudley Carter'"
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Tuesday, Aug 22'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "08:15h : Joachim 'journeys in stationary traffic'",
          "10:20h : Train toe Haslach, Mühkreisbahn Haslach. Museum",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Wednesday, Aug 23'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "10:00h : Carolyn Chen 'Cooks' - rehearsal",
          "14:00h : checkin on Jennie's and James's pieces || afb/aaron 're: the tipping point",
          "16:00h : Michael's 'piece based on John’s text. readers and sustaining instruments' - open rehearsal. please let michael know if you're interested in taking part",
          "17:00h : Rehearsal: 'Tipping Point/Piano Search - John & Joachim & multiple players (anybody interested can join in)'",
          "20:30h : James, 'trio' || Germaine, 'Juglans' || Carolyn 'Cooks' || Bernd, 'TonStillen'",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Thursday, Aug 24'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "10:30h : Nina, Experimental Writing Workshop, open participation. Session 2.",
          "14:00h : Jennie, Score-making piece, open participation. Session 3.",
          "17:00h : VENISSAGE, Michaela, 'Bilderwachstum' || Kathrin 'Die neuen Trāume des Morgen' ",
          "20:30h : John 'speaking music: The Tipping Point'",
          "22:00h : Joachim 'journeys in stationary traffic'",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Friday, Aug 25'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "06:00h : Michael 'Melodic Currents'",
          "14:00h : James: 'Callander', open participation. rehearsal.",
          "20:30h : Marcus 'pink noise (circle III)'"
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Saturday, Aug 26'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: [
          "10:00h : Lukatoyboy 'Hunting Music'",
          "20:30h : James, 'Callander' || Nina 'Reading' || Lukatoyboy 'Auction Performance'",
        ]
      } %>
    </div>
    <hr>
    <div class="day">
      <%= render partial: 'home/daily_header', :locals => {
        text: 'Sunday, Aug 27'
      } %>
      <%= render partial: 'home/activity_deats', :locals => {
        time: '',
        title1: '',
        is_concert: false,
        description: ["Departure day, breakfast in the morning."]
      } %>
    </div>
  </div>
</section>
